.register-container {
  height: 100vh;
}

.register-card {
  width: 400px;
  padding: 20px;
}

.toolbar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.page-title {
  text-align: center;
  width: 100%;
}

.mat-form-field {
  width: 100%;
}

.mat-select {
  width: 100%;
}

.mat-select-trigger {
  display: flex;
  align-items: center;
}

.mat-option {
  display: flex;
  align-items: center;
}
