<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" position="end" class="sidenav">
    <div class="sidenav-content">
      <button mat-button routerLink="/products" (click)="sidenav.close()">{{ translationService.translate('appComponent', 'foodList') }}</button>
      <button mat-button *ngIf="isAdmin" routerLink="/dashboard" (click)="sidenav.close()">{{ translationService.translate('appComponent', 'dashboard') }}</button>
      <button *ngIf="isBuyer" mat-button color="accent" routerLink="/cart" (click)="sidenav.close()">
        <mat-icon>shopping_cart</mat-icon>
        <span *ngIf="cartCount > 0" matBadge="{{ cartCount }}" matBadgeColor="warn" matBadgeSize="small"></span>
      </button>
      <button mat-button (click)="changeLanguage()">changeLanguage</button>
      <button mat-button *ngIf="!authService.isLoggedIn()" routerLink="/login" (click)="sidenav.close()">Login</button>
      <button mat-button *ngIf="authService.isLoggedIn()" (click)="logout(); sidenav.close()">Logout</button>
      <button mat-button *ngIf="!authService.isLoggedIn()" routerLink="/register" (click)="sidenav.close()">Register</button>
      <button mat-button *ngIf="isAdmin" (click)="toggleManagementMenu()">management</button>
      <div *ngIf="showManagementMenu && isAdmin" class="management-menu">
        <button mat-button routerLink="/management/users" (click)="sidenav.close()">User Management</button>
        <button mat-button routerLink="/management/roles" (click)="sidenav.close()">Role Management</button>
        <button mat-button routerLink="/management/permissions" (click)="sidenav.close()">Permission Management</button>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span routerLink="/welcome" class="pageTitle">{{pageTitle}}</span>
      <i class="smiley-face-icon"></i>
      <span class="spacer"></span>
      <div class="desktop-menu">
        <button mat-button routerLink="/products" class="button">{{ translationService.translate('appComponent', 'foodList') }}</button>
        <button mat-button *ngIf="isAdmin" routerLink="/dashboard" class="button">{{ translationService.translate('appComponent', 'dashboard') }}</button>
        <button mat-button *ngIf="isBuyer" color="accent" routerLink="/cart" class="button">
          <mat-icon>shopping_cart</mat-icon>
          <span *ngIf="cartCount > 0" matBadge="{{ cartCount }}" matBadgeColor="warn" matBadgeSize="small"></span>
        </button>
        <button mat-button (click)="changeLanguage()">{{ translationService.translate('appComponent', 'changeLanguage') }}</button>
        <button mat-button *ngIf="!authService.isLoggedIn()" routerLink="/login" class="button">Login</button>
        <button mat-button *ngIf="authService.isLoggedIn()" (click)="logout()" class="button">Logout</button>
        <button mat-button *ngIf="!authService.isLoggedIn()" routerLink="/register" class="button">Register</button>
        <button mat-button *ngIf="isAdmin" [matMenuTriggerFor]="managementMenu" class="button">management</button>
        <mat-menu #managementMenu="matMenu">
          <button mat-menu-item routerLink="/management/users">User Management</button>
          <button mat-menu-item routerLink="/management/roles">Role Management</button>
          <button mat-menu-item routerLink="/management/permissions">Permission Management</button>
        </mat-menu>
      </div>
      <button mat-icon-button (click)="sidenav.toggle()" class="menu-button" color="accent">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <div *ngIf="isLoading | async" class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>

    <div class="content-container">
      <div class='container'>
        <router-outlet></router-outlet>
      </div>

      <footer class="pmd-footer bg-dark pmd-footer-dark text-white">
        <div class="container">
          <div class="row">
            <div class="col-md-auto pmd-site-info mb-3 mb-md-0">
              <a href="javascript:void(0);" class="sm-center">
                <img src="assets/images/logo.png"
                class="styled-image"
                alt="Logo Image" />
              </a>
            </div>
            <div class="col-md">
              <div class="row justify-content-center mb-3 mb-md-0">
                <div class="col-4 col-md-3">
                  <ul class="pmd-footer-nav flex-column">
                    <li><a href="javascript:void(0);" class="text-white">Home</a></li>
                    <li><a href="javascript:void(0);" class="text-white">About</a></li>
                    <li><a href="javascript:void(0);" class="text-white">Menu</a></li>
                    <li><a href="javascript:void(0);" class="text-white">Contact</a></li>
                  </ul>
                </div>
                <div class="col-4 col-md-3">
                  <ul class="pmd-footer-nav flex-column">
                    <li><a href="javascript:void(0);" class="text-white">Order Online</a></li>
                    <li><a href="javascript:void(0);" class="text-white">Locations</a></li>
                    <li><a href="javascript:void(0);" class="text-white">Blog</a></li>
                    <li><a href="javascript:void(0);" class="text-white">Careers</a></li>
                  </ul>
                </div>
                <div class="col-4 col-md-3">
                  <ul class="pmd-footer-nav flex-column">
                    <li><a href="javascript:void(0);" class="text-white">Privacy Policy</a></li>
                    <li><a href="javascript:void(0);" class="text-white">Terms of Service</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-auto pmd-social-icons">
              <button mat-icon-button color="primary">
                <mat-icon>facebook</mat-icon>
              </button>
              <button mat-icon-button color="primary">
                <mat-icon>linkedin</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>