.nav-link {
  font-size: large;
}

.spacer {
  flex: 1 1 auto;
}

.container {
  padding: 1rem;
}

.pageTitle {
  font-size: 1.5rem;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); 
  z-index: 1000;
}

.smiley-face-icon {
  display: inline-block;
  width: 24px; 
  height: 24px; 
  background-image: url('/assets/icons/smiley-face.svg'); 
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10px;
  background-color: yellow;
  border-radius: 50%;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.menu-button {
  display: none;
}

.desktop-menu {
  display: flex;
}

.pmd-footer {
  padding: 20px 0;
  background-color: #343a40;
  color: #ffffff;
}

.pmd-footer-nav {
  list-style: none;
  padding: 0;
}

.pmd-footer-nav li {
  margin-bottom: 10px;
}

.pmd-footer-nav a {
  color: #ffffff;
  text-decoration: none;
}

.pmd-footer-nav a:hover {
  text-decoration: underline;
}

.pmd-social-icons button {
  margin-right: 10px;
}

.styled-image {
  height: 4rem;
  width: 5.5rem;
}

.content-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

@media (max-width: 480px) {
  .menu-button {
    display: inline-block;
  }

  .desktop-menu {
    display: none;
  }

  .container {
    padding: 1.5rem !important;
  }

  .pageTitle {
    font-size: 1.15rem !important;
    margin-right: 0.5rem !important;
  }

  .button {
    font-size: 0.8rem; 
    padding: 0rem 0rem ; 
    margin-right: 0rem ; 
  }

  .button:first-of-type {
    margin-left: auto;
  }

  .button mat-icon {
    font-size: 1rem ; 
  }

  .button span {
    font-size: 0.6rem; 
  }
}