<mat-card *ngIf="product">
  <mat-card-header>
    <mat-card-title>{{ pageTitle + ': ' + product.productName }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="product-details">
      <div class="product-image">
        <img mat-card-image [src]="product.imageUrl" class="img-fluid" [alt]="product.productName">
      </div>
      <div class="product-info">
        <h5 mat-card-title>{{ product.productName }} Info</h5>
        <p mat-card-subtitle><strong>Code:</strong> {{ product.productCode }}</p>
        <p mat-card-subtitle><strong>Description:</strong> {{ product.description }}</p>
        <p mat-card-subtitle><strong>Price:</strong> {{ product.price | currency }}</p>
        <p mat-card-subtitle><strong>Rating:</strong> 
          <ng-container *ngIf="product.starRating > 0; else noRating">
            <pm-star [rating]="product.starRating"></pm-star>
          </ng-container>
          <ng-template #noRating>0</ng-template>
        </p>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button color="primary" (click)="onBack()">
      <mat-icon>arrow_back</mat-icon> Back
    </button>
    <button mat-button color="warn" (click)="onDelete()">
      <mat-icon>delete</mat-icon> Delete
    </button>
    <button mat-button color="accent" (click)="onEdit()">
      <mat-icon>edit</mat-icon> Edit
    </button>
  </mat-card-actions>
</mat-card>