<h1 mat-dialog-title>Product Form</h1>
<div mat-dialog-content>
  <form #productFormRef="ngForm" [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="productName">Product Name</label>
      <input id="productName" formControlName="productName" class="form-control" />
      <div *ngIf="productForm.get('productName')?.invalid && productForm.get('productName')?.touched" class="text-danger">
        Product Name is required.
      </div>
      <div *ngIf="nameExistsError" class="text-danger">
        Product Name already exists.
      </div>
    </div>

    <div class="form-group">
      <label for="productCode">Product Code</label>
      <input id="productCode" formControlName="productCode" class="form-control" />
      <div *ngIf="productForm.get('productCode')?.invalid && productForm.get('productCode')?.touched" class="text-danger">
        Product Code is required.
      </div>
      <div *ngIf="codeExistsError" class="text-danger">
        Product Code already exists.
      </div>
    </div>

    <div class="form-group">
      <label for="price">Price</label>
      <input id="price" formControlName="price" type="number" class="form-control" />
      <div *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched" class="text-danger">
        Price is required.
      </div>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" formControlName="description" class="form-control"></textarea>
    </div>

    <div class="form-group">
      <label for="image">Image</label>
      <input id="image" type="file" (change)="onFileChange($event)" class="form-control" #fileInput />
      <div *ngIf="imageError && data.operation === 'add'" class="text-danger">
        Image is required.
      </div>
    </div>

    <div mat-dialog-actions>
      <button mat-button type="button" (click)="onCancel()" class="left-button button">Cancel</button>
      <button mat-button type="button" (click)="resetForm()" class="left-button button">Reset</button>
      <button mat-button type="submit" class="right-button button" [disabled]="productForm.invalid || (data.operation === 'add' && !selectedFile)">Submit</button>
    </div>
  </form>
</div>