<div class="container">
    <div class="row">
      <div class="col-md-3" *ngFor="let product of products">
        <div class="card mb-4 shadow-sm">
          <img [src]="product.imageUrl" class="card-img-top" [alt]="product.productName" [title]="product.productName" [style.height.px]='imageHeight' style="width: 100%;">
          <div class="card-body">
            <h5 class="card-title">{{ product.productName }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <button class="btn btn-sm btn-outline-secondary" [routerLink]="['/products', product.productId]" >Show Info</button>
              <small class="text-muted">{{ product.price | currency }}</small>
            </div>
            <div class="d-flex justify-content-end">
              <small class="text-muted">Rating: {{ product.starRating }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>