<mat-card>
  <mat-card-header>
    <mat-toolbar color="primary" class="toolbar">
      <span class="page-title">{{ pageTitle }}</span>
    </mat-toolbar>
  </mat-card-header>
  <mat-card-content>
    <div class="text-center">
      <a [routerLink]="['/products']">
        <img src="assets/images/burger.png"
             class="styled-image"
             alt="Burger Image" />
      </a>
    </div>
    <div class="welcome-text">
      <mat-icon color="primary" class="welcome-icon">restaurant</mat-icon>
      Welcome to our restaurant
      <mat-icon color="primary" class="welcome-icon">restaurant</mat-icon>
    </div>
  </mat-card-content>
</mat-card>